<body>
    <main>
        <img
            src="~/img/Logo.webp"
            class="m-5"
        />
        <a href='@Url.Action("Wheel", "Home")' class="button">JUGAR</a>
        <img src="~/img/hist.gif" class="camina" />
        <img src="~/img/piedra.webp" class="camina piedra" />
    </main>
</body>