<img src="~/img/Logo.webp" class="m-5" />
<a href='@Url.Action("ConfigurarJuego", "Home")' class="button">JUGAR</a>
<img src="~/img/hist.gif" class="camina" />
<img src="~/img/piedra.webp" class="camina piedra" />