<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title>Spin Wheel</title>
      <link rel="stylesheet" href="style.css" />
   </head>
   <body>
      <span class="arrow"></span>
      <button id="spin">Spin</button>
      <div class="container">
            <div class="one"><img src="~/img/ciencia.gif" alt="" width="110" /></div>
            <div class="two"><img src="~/img/hist.gif" alt="" width="200" /></div>
            <div class="three"><img src="~/img/dep.gif" alt="" width="180" /></div>
            <div class="four"><img src="~/img/art.gif" alt="" width="70" /></div>
            <div class="five"><img src="~/img/cine.gif" alt="" width="200" /></div>
            <div class="six"><img src="~/img/Corona.webp" alt="" width="70" /></div>
            <div class="seven"><img src="~/img/geo.gif" alt="" width="70" /></div>
      </div>
      <script src="~/js/script.js"></script>
   </body>
</html>
